<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>温易网</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <ul class="nav">
        <li class="nav-item">
            <a href="{% url 'Commodity:index' %}">index</a>
        </li>
        {% if user.is_authenticated %}
        hello,{{ user.username }}.
        <li class="nav-item">
            -<a href="{% url 'Commodity:addcommodity' %}">添加商品</a>
        </li>
        {% else %}
        <p>你还没登录</p>
        <li class="nav-item">
            -<a href="{% url 'accounts:register' %}">Register</a>-
        </li>
        <li class="nav-item">
            <a href="{% url 'accounts:login' %}">Log in</a>
        </li>
        {% endif %}
    </ul>

    <p>
        
    </p>

    {%block content %}{%endblock content%}

    {% if user.is_authenticated %}
        <hr />
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button name="submit">Log out</button>
        </form>
    {% endif %}
</body>

</html>