{% extends 'Commodity/base.html' %}
{% load django_bootstrap5 %}

{%block content %}
<h4>{{commodity.name}}</h4>
<img src="{{MEDIA_URL}}{{commodity.image}}" width="700" height="600"></img>
<p>价格：{{commodity.price}}</p>
<div class="bg-light text-dark rounded">
    <p>{{commodity.details}}</p>
</div>
{% if belong %}

    <div class="row">
        <div class="col">
            <form action="{% url 'Commodity:editcommodity' commodity.id%}" method="get">
                {% csrf_token %}
                {% bootstrap_button button_class="btn btn-outline-primary btn-sm" button_type='submit' content='修改' %}
            </form>
        </div>
        <div class="col">
            <form action="{% url 'Commodity:dropcommodity' commodity.id%}" method="post">
                {% csrf_token %}
                {% bootstrap_button button_class='btn btn-outline-danger btn-sm float-right' button_type='submit' content='删除' %}
            </form>
        </div>
    </div>
{% endif %}

<div>
    <h4>留言</h4>
    <ul>
        {% for message in messages %}
        <li>
            <hr />
            <p>{{message.speaker}}</p>
            <p>{{message.date|date:'M d,Y H:i'}}</p>
            <p>{{message.content|linebreaks}}</p>
            {% if message.speaker == user %}
                <form action="{% url 'Commodity:dropmessages' message.id%}" method="post">
                    {% csrf_token %}
                    {% bootstrap_button button_class='btn-outline-warning btn-sm' button_type='submit' content='删除' %}
                </form>
            {% endif %}
        </li>
        {% empty %}
            <p>快来抢沙发吧！</p>
        {% endfor %}
    </ul>
    <div class="row">
        <hr />
        <form action="{% url 'Commodity:messages' commodity.id%}" method="post">
            {% csrf_token %}
            {{form.as_div}}
            {% bootstrap_button button_class='btn btn-outline-primary btn-sm float-right' button_type='submit' content='发布' %}
        </form>
    </div>
</div>
{%endblock content%}