{% extends 'Commodity/base.html' %}

{%block content %}
    <ul class="list-group">
        {% for co in commodities %}
        <li>
            <div>
                <img src="{{MEDIA_URL}}{{co.image}}" width="50" height="60" class="rounded" alt="Cinque Terre">
                <a href="{% url 'Commodity:details' co.id %}">{{co.name}}</a>
                <p>{{co.price}}</p>
                <div class="bg-light text-dark rounded">
                    <p>{{co.details}}</p>
                </div>
                
            </div>
        </li>
        {% endfor %}
    </ul>

{%endblock content%}