{% extends 'Commodity/centerbase.html' %}

{% block othercontent %}
    <div>
        {%  if order.backtag %}
            <h4>订单详情<span class="badge bg-danger">已取消</span></h4>
        {% elif color == 1 %}
            <h4>订单详情<span class="badge bg-secondary">{{ tag }}</span></h4>
        {% elif color == 2 %}
            <h4>订单详情<span class="badge bg-warning">{{ tag }}</span></h4>
        {% else %}
            <h4>订单详情<span class="badge bg-success">{{ tag }}</span></h4>
        {% endif %}
    </div>
    <hr/>
    <img src="{{ MEDIA_URL }}{{ commodity.image }}" width="100" height="80" class="rounded" alt="Cinque Terre">
    <hr/>
    <p>备注：{{ order.remark }}</p>
    <p>订单编号：{{ order.orderid }}</p>
    <p>订单创建时间:{{ order.date|date:'M d,Y H:i' }}</p>
    
    {% if order.senttag %}
        <p>快递单号：{{ order.tracking_number }}</p>
    {% else %}
        {% if user == order.seller %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sent">发货</button>
        {% endif %}
    {% endif %}
    
    <div class="row">
        {% if color == 2 and user == order.purchaser %}
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#receiptconfrim">确认收货</button>
            </div>
        {% endif %}

        {% if order.donetag %}
        {% else %}
            <div class="col">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancel">取消订单</button>
            </div>
        {% endif %}
    </div>
    
    
    <div class="modal fade" id="sent">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">快递单号</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- 模态框内容 -->
                <form action="{% url 'Commodity:sent' order.orderid %}" method="post">
                    <div class="modal-body">
                    
                            <div class="d-flex align-items-center justify-content-center">
                                {% csrf_token %}
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="form-floating  mb-3 mt-3 text-center" style="width: 450px;">
                                        <input name="tracking_number" class="form-control" placeholder="tracking_number"
                                           required id="tracking_number"></input>
                                        <label for="tracking_number">快递单号</label>
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="receiptconfrim">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">确认收货</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- 模态框内容 -->
                <div class="modal-body">
                    <p class="text-danger">注意：确认收货之后无法更改</p>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <a href="{% url 'Commodity:receiptconfrim' order.orderid %}"><button class="btn btn-outline-primary">确认</button></a>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="cancel">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">取消订单</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- 模态框内容 -->
                <div class="modal-body">
                    <p class="text-danger">注意：取消订单之后无法更改，如需恢复请重新购买！</p>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <a href="{% url 'Commodity:cancel' order.orderid %}"><button class="btn btn-outline-primary">确认</button></a>
                </div>

            </div>
        </div>
    </div>
{% endblock othercontent %}