{% extends 'Commodity/centerbase.html' %}
{% load django_bootstrap5 %}

{%block content %}
    <div class="list-group w-75">
        {% for co in commodity %}
            <div class="row">
                <div class="col-11">
                    <a href="{% url 'Commodity:details' co.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                       aria-current="true">
                        <img src="{{MEDIA_URL}}{{co.image}}" alt="Cinque Terre" width="150" height="110" class="rounded flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h5 class="mb-0">{{co.name}}</h5>
                                <p class="mb-0 opacity-75">{{co.price}}</p>
                                <p class="mb-0 opacity-75">{{co.details}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-1">
                    <a href="{% url 'Commodity:buy' co.id %}"><button class="btn btn-outline-primary">购买</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
{%endblock content%}