{% extends 'Commodity/centerbase.html' %}

{% block content %}

<ul class="list-group">
    {% for o in orders %}
        {% for c in commodity %}
            <li>
                <div>
                    <hr />
                    <p>订单编号：{{o.orderid}}</p>
                    <img src="{{MEDIA_URL}}{{c.image}}" width="100" height="80" class="rounded" alt="Cinque Terre">
                    <a href="{% url 'Commodity:orderdetails' o.orderid %}">订单详情</a>
                </div>
            </li>
        {% endfor %}
    {% endfor %}
</ul>
    

{% endblock content %}